Modlists/Atomic Warfare/Versions/*
Modlists/Cyber Runner/Versions/*
Modlists/Fable Lore/Versions/*
Modlists/Wasteland Prospects/Versions/*
Modlists/The Badlands/Versions/*
Modlists/Chimera Legends/Versions/*
Modlists/Divergent/Versions/*
Modlists/Divergent/Workspace/*
Mods/Fallout 4/No AWKCR and AE For mods File Dump
Mods/Anomaly/EGUI Main Menu Replacer/Versions
Mods/Anomaly/EGUI Main Menu Replacer/Workspace/gamedata/textures/ui/DG_Freedom.ogm
*.zip
*.mp4